<template>
  <section class="credits">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Credits</p>
          <p>Images</p>
          <ul>
            <li>
              <a href="https://unsplash.com/photos/B3l0g6HLxr8" target="_blank" rel="noopener noreferrer">Photo by Blake Connally on Unsplash</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Credits',
};
</script>

<style scoped lang="scss">
  .credits {
    display: none;
  }
</style>
