<template>
  <div id="error">
    <p class="error-text text-center h5 mb-0 py-5" :class="{ dark: dark }">{{ text }}</p>
  </div>
</template>

<script>
export default {
  name: 'Error',
  props: {
    text: {
      type: String,
      default: 'No data',
    },
    dark: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
  .error-text {
    color: $white;
  }
  .error-text.dark {
    color: $dark;
  }
</style>
