<template>
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="list-unstyled d-flex justify-content-center">
            <li v-for="item in social" v-bind:key="item.key" class="social mx-1">
              <a
                :href="item.url"
                class="text-decoration-none"
                target="_blank"
                rel="noopener noreferrer">
                <img :src="getLogo(item)" :alt="getLogoAlt(item)">
              </a>
            </li>
          </ul>
          <h5 class="text-center mb-0 h6">{{ $t('footer_text') }}</h5>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      social: [
        {
          key: 'linkedin',
          url: 'https://www.linkedin.com/in/hassen-nachar-5667154a',
          img: 'linkedin.png',
        },
        {
          key: 'instagram',
          url: 'https://www.instagram.com/hass.nach/',
          img: 'instagram.png',
        },
      ],
    };
  },
  methods: {
    getLogo(item) {
      // eslint-disable-next-line import/no-dynamic-require,global-require
      return require(`../assets/social/${item.img}`);
    },
    getLogoAlt(item) {
      return `logo_${item.key}`;
    },
  },
};
</script>

<style scoped lang="scss">
  .footer {
    background-color: $dark;
    color: $white;
  }
  .social {
    a {
      @extend %transition-fast;
      img {
        height: 30px;
      }
    }
  }
  @media (min-width: #{$media-lg}){
    .social {
      a {
        opacity: .4;
        filter: grayscale(100%);
        &:hover {
          opacity: 1;
          filter: grayscale(0%);
        }
      }
    }
  }
</style>
