<template>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
              <a class="navbar-brand" href="#">{{ $t('global_title') }}</a>
              <button class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      data-target="#navbarText"
                      aria-controls="navbarText"
                      aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                  <li v-for="item in menu" v-bind:key="item.key"
                      class="nav-item" :class="{ active: item === selectedItem }">
                    <a class="nav-link" :href="item.url" @click="selectItem(item)" v-smooth-scroll>
                      {{ item.name }}
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
</template>

<script>
export default {
  name: 'Header',
  data() {
    return {
      selectedItem: undefined,
      menu: [
        {
          name: 'Home',
          url: '#',
          key: 'home',
        },
        {
          name: 'Projects',
          url: '#projects',
          key: 'projects',
        },
        {
          name: 'Repositories',
          url: '#repositories',
          key: 'repositories',
        },
        {
          name: 'Jobs',
          url: '#jobs',
          key: 'jobs',
        },
      ],
    };
  },
  mounted() {
    // eslint-disable-next-line prefer-destructuring
    this.selectedItem = this.menu[0];
  },
  methods: {
    selectItem(item) {
      this.selectedItem = item;
    },
  },
};
</script>

<style scoped lang="scss">
  .header {
    .navbar-brand {
      color: $dark;
    }
    .nav-item {
      &:hover {
        .nav-link {
          color: $dark;
        }
      }
      .nav-link {
        @extend %transition-fast;
        color: $light;
      }
    }
    .nav-item.active {
      .nav-link {
        color: $dark;
      }
    }
  }
</style>
