<template>
  <section class="hero pt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-right">{{ $t('global_title') }}</h1>
          <h2 class="text-right">{{ $t('global_job') }}</h2>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Hero',
};
</script>

<style scoped lang="scss">
  .hero {
    @extend %center-background;
    background-image: url("../assets/img/hero.jpg");
    height: calc(100vh - 56px);
    h1, h2 {
      color: $white;
    }
  }
</style>
