<template>
  <section id="jobs" class="jobs py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="m-0 text-center">{{ $t('jobs_title') }}</h3>
          <h4 class="h6 mt-4 mb-5 text-center">
            {{ $t('jobs_description') }}
          </h4>
          <div v-if="loading" class="loading">
            <Loading :dark="true"></Loading>
          </div>
          <div v-if="error">
            <Error :text="$t('global_no-data-default')" :dark="true"></Error>
          </div>
          <ul v-if="jobs" class="row list-unstyled">
            <li class="job col-12 col-lg-4 mb-lg-0" v-for="job in jobs" v-bind:key="job.key">
              <a
                :href="job.url"
                class="text-decoration-none"
                target="_blank"
                rel="noopener noreferrer">
                <img :src="getLogo(job)" :alt="getLogoAlt(job)" class="d-block mx-auto">
                <p class="text-center mt-3 mb-0">{{ job.name }}</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Loading from './Loading.vue';
import Error from './Error.vue';

export default {
  name: 'Jobs',
  components: {
    Loading,
    Error,
  },
  data() {
    return {
      loading: true,
      error: false,
    };
  },
  computed: {
    jobs() {
      return this.$store.getters['jobs/jobs'];
    },
  },
  mounted() {
    this.getJobs();
  },
  methods: {
    getJobs() {
      this.$store.dispatch('jobs/GET_JOBS')
        .then(() => {
          this.loading = false;
        })
        .catch((err) => {
          console.log('* Error: ', err);
          this.loading = false;
          this.error = true;
        });
    },
    getLogo(job) {
      // eslint-disable-next-line import/no-dynamic-require,global-require
      return require(`../assets/jobs/${job.img}`);
    },
    getLogoAlt(job) {
      return `logo_${job.key}`;
    },
  },
};
</script>

<style scoped lang="scss">
  .job {
    @extend %transition-fast;
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      img {
        height: 40px;
      }
      p {
        color: $dark;
      }
    }
  }
  .loading {
    height: 200px;
  }
  @media (min-width: #{$media-lg}){
    .job {
      opacity: .4;
      filter: grayscale(100%);
      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }
</style>
