<template>
  <section
    id="projects"
    class="projects py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="m-0 text-center">{{ $t('projects_title') }}</h3>
          <h4 class="h6 mt-4 mb-5 text-center">
            {{ $t('projects_description') }}
          </h4>
          <div v-if="loading" class="loading">
              <Loading :dark="true"></Loading>
          </div>
          <div v-if="error">
            <Error :text="$t('global_no-data-default')" :dark="true"></Error>
          </div>
          <ul v-if="projects" class="row list-unstyled">
            <li v-for="project in projects" v-bind:key="project.key"
                class="col-12 col-md-6 col-lg-4 col-xl-3 my-2 mx-auto">
              <a :href="project.url"
                 class="project text-decoration-none d-block rounded-lg py-3"
                 target="_blank"
                 rel="noopener noreferrer">
                <div
                  class="project__img-container d-flex align-items-center justify-content-center">
                  <img :src="getLogo(project)"
                       :alt="getLogoAlt(project)"
                       :class="project.size">
                </div>
                <p class="project__name text-center mt-3 mb-0">
                  <span class="project__name__type text-uppercase">
                    ({{ project.type }})
                  </span>
                  {{ project.name }}
                </p>
                <p class="project__company text-center mb-0">
                  <span class="project__company__name text-uppercase">
                    {{ $t('projects_company')}}
                  </span>
                  {{ project.company }}
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Loading from './Loading.vue';
import Error from './Error.vue';

export default {
  name: 'Projects',
  components: {
    Loading,
    Error,
  },
  data() {
    return {
      loading: true,
      error: false,
    };
  },
  computed: {
    projects() {
      return this.$store.getters['projects/projects'];
    },
  },
  mounted() {
    this.getProjects();
  },
  methods: {
    getProjects() {
      this.$store.dispatch('projects/GET_PROJECTS')
        .then(() => {
          this.loading = false;
        })
        .catch((err) => {
          console.log('* Error: ', err);
          this.loading = false;
          this.error = true;
        });
    },
    getLogo(project) {
      // eslint-disable-next-line import/no-dynamic-require,global-require
      return require(`../assets/logos/${project.img}`);
    },
    getLogoAlt(project) {
      return `logo_${project.key}`;
    },
  },
};
</script>

<style scoped lang="scss">
  $img-small-size: 36px;
  .project {
    @extend %transition-fast;
    border: 1px solid $light;
    .project__img-container {
      height: $img-small-size;
      img {
        height: 22px;
      }
      img.small {
        height: $img-small-size;
      }
      img.large {
        height: 14px;
      }
    }
    .project__name, .project__company {
      color: $dark;
      font-size: .9rem;
      .project__name__type, .project__company__name {
        font-size: .6rem;
      }
      .project__name__type {
        color: $primary;
      }
      .project__company__name {
        color: $light;
      }
    }
  }
  .loading {
    height: 200px;
  }
  @media (min-width: #{$media-lg}){
    .project {
      opacity: .4;
      filter: grayscale(100%);
      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }
</style>
