<template>
  <section id="repositories" class="repositories py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="m-0 text-center">{{ $t('repositories_title') }}</h3>
          <h4 class="h6 mt-4 mb-5 text-center">
            {{ $t('repositories_description') }}
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a class="repository text-decoration-none d-block w-100 mb-md-5"
             :href="url.thisProject"
             target="_blank"
             rel="noopener noreferrer">
            <img src="../assets/repositories/magnifying-glass.png"
                 alt="Repository - Magnifying glass"
                 class="repository__img d-block mx-auto">
            <span class="text-white w-100 text-center d-block mt-3">
              {{ $t('repositories_this-repository') }}
            </span>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a class="repository text-decoration-none d-block w-100 my-5 my-md-0"
             :href="url.bitbucket"
             target="_blank"
             rel="noopener noreferrer">
            <img src="../assets/repositories/bitbucket.png"
                 alt="Repository - Bitbucket"
                 class="repository__img d-block mx-auto">
            <span class="text-white w-100 text-center d-block mt-3">
              {{ $t('repositories_bitbucket') }}
            </span>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a class="repository text-decoration-none d-block w-100"
             :href="url.github"
             target="_blank"
             rel="noopener noreferrer">
            <img src="../assets/repositories/github.png"
                 alt="Repository - Github"
                 class="repository__img d-block mx-auto">
            <span class="text-white w-100 text-center d-block mt-3">
              {{ $t('repositories_gitHub') }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Repositories',
  data() {
    return {
      url: {
        thisProject: 'https://bitbucket.org/nachar/hassen-nachar-developer/src/master/',
        bitbucket: 'https://bitbucket.org/nachar/',
        github: 'https://github.com/nachar',
      },
    };
  },
};
</script>

<style scoped lang="scss">
  .repositories {
    background-color: $dark;
    color: $white;
  }

  .repository {
    @extend %transition-fast;
    .repository__img {
      height: 50px;
    }
  }
  @media (min-width: #{$media-lg}){
    .repository {
      opacity: .4;
      &:hover {
        opacity: 1;
      }
      .repository__img {
        height: 50px;
      }
    }
  }
</style>
