<template>
  <div id="app" v-cloak>
    <Header></Header>
    <Hero></Hero>
    <Projects></Projects>
    <Repositories></Repositories>
    <Credits></Credits>
    <Jobs></Jobs>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Hero from './components/Hero.vue';
import Projects from './components/Projects.vue';
import Repositories from './components/Repositories.vue';
import Credits from './components/Credits.vue';
import Jobs from './components/Jobs.vue';
import Footer from './components/Footer.vue';

export default {
  name: 'App',
  components: {
    Header,
    Hero,
    Projects,
    Repositories,
    Credits,
    Jobs,
    Footer,
  },
};
</script>

<style lang="scss">
  /* @media (min-width: #{$media-sm}){}
  @media (min-width: #{$media-md}){}
  @media (min-width: #{$media-lg}){}
  @media (min-width: #{$media-xl}){} */

  #app {
    font-family: 'Montserrat', sans-serif;
    color: $dark;
  }
</style>
