// Custom
// Media Queries
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

// Colors
$primary: #1C5D99;
$secondary: #639FAB;
$success: #3e6999;
$danger: #DC3545;
$warning: #FFC107;
$info: #BBCDE5;
$light: #a4a4a4;
$dark: #222222;
$white: #FFFFFF;
